/* Add styling for your page here */

.App {
    display: flex;
}

.item1 {
    margin-left: 380px;
}
.button {
    display: flex;
    justify-content: space-between;
}
.Bakery{
    width: 900px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.item{
    width : 320px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f2f2;
    margin-bottom: 10px;
    
}